.languageSelector {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: var(--light-bg);
    border-radius: .5rem;
}

.languageSelector button.active {
    color: var(--dark-color);
    font-weight: bold;
}

.languageSelector button:not(.active) {
    color: gray;
}