nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    border-radius: 1rem;
}

.navHeader {
    height: 3rem;
    display: grid;
    place-items: center;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.navHeader img {
    width: 220px;
    filter: invert() brightness(110);
}

nav .menu {
    position: relative;
    list-style: none;
    padding: 2.5rem 0 .5rem 0.75rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
    color: var(--menuColor);
}

nav .menuitem {
    position: relative;
    z-index: 2;
}
.menuitem a {
    text-decoration: none;
    color: inherit;     
    background-color: transparent;  
    display: flex;        
    align-items: center;
    padding-left: 1rem;
    padding-block: .75rem;
}
.menuitem i {
    color: var(--menuColor);
    width: 2rem;
    transition: transform 0.4s cubic-bezier(.25,.8,.25,1);
}
.menuitem span {
    display: inline-block;
    transition: transform 0.4s cubic-bezier(.25,.8,.25,1);
}
.menuitem:has(a.selected) {
    background-color: var(--light-bg);
    border-top-left-radius: 1.25rem;
    border-bottom-left-radius: 1.25rem;
    z-index: 1;
    cursor: pointer;
}
.menuitem:has(a.selected)::before,
.menuitem:has(a.selected)::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1.25rem;
    height: 1.25rem;
}
.menuitem:has(a.selected)::before {
    top: -20px;
    border-bottom-right-radius: 1.25rem;
    box-shadow: 8px 8px 0px 8px var(--light-bg);
}
.menuitem:has(a.selected)::after {
    bottom: -20px;
    border-top-right-radius: 1.25rem;
    box-shadow: 8px -8px 0px 8px var(--light-bg);
}

.menuitem:has(a.selected) i, .menuitem:has(a.selected) span {
    color: var(--activeColor);
    transform: translateX(8px);
}

.menuitem:last-child {
    display: flex;
    margin-top: auto;
    align-items: center;
}
.menuitem:hover:not(:has(a.selected)), .menuitem:hover:not(:has(a.selected)) i {
    color: var(--activeColor);
    cursor: pointer;
}
.menuitem:last-child:hover a i, .menuitem:last-child:hover a span {
    display: flex;
    align-items: center;
    color: var(--warningColor);
}