.roomCard {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    height: 16rem;
    width: 12rem;
    background-color: var(--lightColor);
    box-shadow: 3px 6px 10px rgba(0,0,0,0.3);
    border-radius: 1rem;
    padding: 1rem
}

.cardRow1 {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
}

.cardRow1 i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: green;
    filter: drop-shadow(0 0 3px var(--activeColor));
}

.cardRow2 {
    justify-items: center;
    margin-top: 1rem;
    margin-bottom: auto;
}

.cardRow3 {
    margin: 0 auto;
}

.roomNumber {
    font-family: "Montserrat";
    font-size: 2rem;
    background-color: hsl(120, 60%, 88%);
    color: var(--activeColor);
    border-radius: .5rem;
    padding: .5rem 1rem;
    margin: 0;
}

.roomType {
    text-transform: uppercase;
    font-size: small;
    align-self: flex-end;
    color: gray;
    padding-bottom: .5rem;
}