.searchInput i {
    position: absolute;
    color: gray;
    top: 50%;
    left: 0.75rem;
    transform: translateY(-50%);
    pointer-events: none;
}

.searchInput {
    position: relative;
    display: inline-block;
    margin-right: auto;
    min-width: 100px;
}

.searchInput input {
    padding: .5rem .5rem .5rem 2.5rem;
    border: none;
    outline: none;
    background-color: var(--light-color);
}

.searchInput input:focus {
    box-shadow: 0 0 0 1px var(--activeColor);
}