.container {
    display: grid;
    place-items: center;
}

.btnCell button {
    width: 100%;
}

table {
    width: 100%;
    max-width: 60rem;
    padding: 1rem;
    border-collapse: collapse;
}
td {
    border: 1px solid gray;
}

th {
    font-weight: 600;
    padding: 1rem;
    border-right: 1px solid gray;
    background-color: var(--activeColor);
    color: var(--lightColor);
}

th:first-of-type {
    border-top-left-radius: .5rem;
}
th:last-of-type {
    border: none;
    border-top-right-radius: .5rem;
}


td {
    padding: .5rem 1rem;
}

tr:nth-of-type(odd) {
    background-color: var(--lightColor);
}

td:nth-of-type(3), td:nth-of-type(4) {
    text-align: center;
}

th span {
    font-size: .625rem;
    font-weight: 100;
}