#top-bar {
    display: flex;
    flex: 1 0 100%;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-bg);
    padding: 0;
    gap: 1rem;
}

.separator {
    height: 2rem;
    border-left: 1px solid lightgray;
}

.search-input i, .custom-select i {
    position: absolute;
    color: gray;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

.search-input {
    position: relative;
    display: inline-block;
    margin-right: auto;
    min-width: 100px;
}

.search-input i {
    left: 0.75rem;
}

.select-trigger i {
    right: 0.75rem;
}

.search-input input {
    padding: .5rem .5rem .5rem 2.5rem;
    border: none;
    outline: none;
    background-color: var(--light-color);
}

.search-input input:focus {
    box-shadow: 0 0 0 1px var(--activeColor);
}

#top-bar .custom-select {
    position: relative;
    width: 200px;
    background-color: var(--light-color);
    font-family: "Montserrat", sans-serif;
    border-radius: 1rem;
    font-size: smaller;
    cursor: pointer;
    outline: none;
}

.select-trigger {
    position: relative;
    padding: 1rem .5rem 1rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1rem;
}

#selected-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.custom-options {
    position: absolute;
    top: 110%;
    left: 0;
    right: 0;
    background-color: var(--light-color);
    border-radius: 0.5rem;
    display: none;
    z-index: 100;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.custom-select.open .custom-options {
    display: block;
}

.custom-option {
    padding: 0.5rem 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.custom-option:hover {
    background-color: var(--activeColor);
    color: white;
}

.custom-select:focus {
    box-shadow: 0 0 0 1px var(--activeColor);
}

#user-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: right;
    cursor: pointer;
    min-width: fit-content;
}

#user-wrapper .user-name {
    font-weight: bold;
    margin: 0 0 .25rem 0;
    padding: 0;
}

#user-wrapper .user-title {
    margin: 0;
    padding: 0;
    color: gray;
    font-weight: 100;
    font-size: .625rem;
    text-transform: uppercase;
}

#user-wrapper .profile-pic i {
    scale: 1.5;
}

#user-wrapper img {
    display: block;
    border-radius: .75rem;
    height: 3rem;
    width: auto;
}
#language-selector {
    display: flex;
    align-items: center;
    justify-content: center;
}

#language-selector button.active {
    color: var(--dark-color);
    font-weight: bold;
}

#language-selector button:not(.active) {
    color: gray;
}