.pageHeader {
    text-align: left;
    margin-right: auto;
}

.pageHeader h2 {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.pageHeader p {
    font-size: smaller;
    letter-spacing: 1px;
    word-spacing: 10%;
    color: gray;
    margin: 0;
    padding: 0;
}
